#filler {
    margin-bottom: 1em;
}

#filler .oi {
    margin-right: 1em;
    float: none;
}

#filler ul.vertical {
    display: flex;
    flex-wrap: wrap;
}

#filler ul.vertical li {
    width: 50%;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
}

#filler ul li:nth-child(2n) {
    border-right: none;
}
