<div class="content footer"
    style="background-color: @(Brain.CurrentTheme.FooterColor) !important; color: @(Brain.CurrentTheme.FooterTextColor)">
    <div class="container">
        @((MarkupString) Brain.Footer)
    </div>
</div>
