<div class="content footer">
    <div class="container">
        <p>Member FDIC: No. Rates and investment products are not insured.</p>
        <p>
            The bank information provided on this website is only valid for those living in states that end in G and no
            others. Any attempt to use this website without authorized access is prohibited by the 11th circuit court of
            the
            high magistrates. No offers may be made or accepted from any resident outside of these states due to various
            state
            regulations and registration requirements regarding investment products and services.
        </p>
        <p>&copy; Copyright @Copyright</p>
    </div>
</div>
