<div class="card">
    <div class="card-body">
        <h5 class="full">Quick Links</h5>
        <ul>
            <li><a class="a-style">Order New Checks</a></li>
            <li><a class="a-style">Lost or Stolen Card</a></li>
            <li><a class="a-style">Open New Account</a></li>
            <li><a class="a-style">Contact Support</a></li>
        </ul>
    </div>
</div>