<div class="row">
    <div id="account-info">
        @foreach (User.Account account in Brain.GetCurrentAccounts())
        {
            <div class="account-row">
                <div class="row">
                    <div class="col-md-8">
                        <h5>
                            @account.Name
                            <span>@($"XXXX{account.Last4Digits}")</span>
                        </h5>
                        <hr />
                        <h1>@account.FormattedBalance</h1>
                    </div>

                    <div class="col-md-4">
                        <ul class="vertical">
                            <li>
                                <Anchor Color="white" Location='@($"/transactions/{account.Last4Digits}")'>View transactions
                                </Anchor>
                                <span class="oi" data-glyph="caret-right"></span>
                            </li>
                            <li>
                                <Anchor Color="white" Location="/transfer">Make a transfer</Anchor>
                                <span class="oi" data-glyph="caret-right"></span>
                            </li>
                            <li>
                                <Anchor Color="white">More actions</Anchor>
                                <span class="oi" data-glyph="caret-right"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>