#account-info {
    width: 100%;
}

#accounts {
    border: 1px solid #ccc;
}

#activity-list {
    border: 2px solid #ececec;
    padding: 1em;
    margin-bottom: 1em;
}

#recent-box {
    width: 100%;
    overflow: hidden;
    height: 200px;
}

.account-row {
    margin-bottom: 2em;
    background-color: #f5f5f5;
}

.account-row h5 span {
    color: #ccc;
    font-size: 0.7em;
}

.account-row .col-md-8 {
    padding: 1em 2em;
}
