<div class="content">
    <div class="container">
        <div id="mumbojumbo" class="row">
            <div class="col-md-8">
                <h3>@Brain.RandomText.Title</h3>
                <p>@((MarkupString) Brain.RandomText.Text)</p>
            </div>
        </div>
    </div>
</div>
