@page "/transfer/success/{Id}"

<div class="container" style="margin-top: 1em">
    <h1>Transfer Successfull!</h1>
    <p>Your transfer was a success!</p> <!-- TODO Add rambling funny shit -->

    <h6>Transfer Reference Id Number: @Id</h6>
</div>