<div class="card">
    <div class="card-body">
        <h4 class="card-title">Live Better</h4>
        <img src="https://source.unsplash.com/collection/3657445" />
        <br /><br />
        <p>We have everything you'd ever need.</p>
        <a style="color: blue" class="a-style">Learn More</a>
    </div>
</div>