<div class="preheader">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <ul>
                        <li>Products</li>
                        <li>Services</li>
                        <li>Help</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>