#notifications {
    background-color: var(--secondary-bg-color);
    padding: 1em;
    border-radius: 12px;
    color: #fff;
    margin-bottom: 1em;
    border: inset 3px #00000070;
}

#notifications h4 span {
    float: right;
    font-size: 0.8em;
    margin-top: 4px;
}
