<div id="notifications" style="background-color: @(Brain.CurrentTheme.SecondaryBackgroundColor)">
    <h4>Welcome Back! <span>@DateTime.Now.ToString("MMM dd, yyyy")</span></h4>
    <p>
        <span class="oi" data-glyph="envelope-open" title="icon name" aria-hidden="true"></span>
        You have @NumUnread unread documents
    </p>
    <button id="inb" class="btn btn-large">View Inbox</button>
</div>